In [1]:
import numpy as np
import pandas as pd
#import matplotlib.pyplot

In [2]:
dataset=pd.read_csv('testset.csv')

In [3]:
dataset.columns

Index(['datetime_utc', ' _conds', ' _dewptm', ' _fog', ' _hail',
       ' _heatindexm', ' _hum', ' _precipm', ' _pressurem', ' _rain', ' _snow',
       ' _tempm', ' _thunder', ' _tornado', ' _vism', ' _wdird', ' _wdire',
       ' _wgustm', ' _windchillm', ' _wspdm'],
      dtype='object')

In [4]:
dataset.head()

,datetime_utc,_conds,_dewptm,_fog,_hail,_heatindexm,_hum,_precipm,_pressurem,_rain,_snow,_tempm,_thunder,_tornado,_vism,_wdird,_wdire,_wgustm,_windchillm,_wspdm
0,19961101-11:00,Smoke,9.0,0,0,NaN,27.0,NaN,1010.0,0,0,30.0,0,0,5.0,280.0,West,NaN,NaN,7.4
1,19961101-12:00,Smoke,10.0,0,0,NaN,32.0,NaN,-9999.0,0,0,28.0,0,0,NaN,0.0,North,NaN,NaN,NaN
2,19961101-13:00,Smoke,11.0,0,0,NaN,44.0,NaN,-9999.0,0,0,24.0,0,0,NaN,0.0,North,NaN,NaN,NaN
3,19961101-14:00,Smoke,10.0,0,0,NaN,41.0,NaN,1010.0,0,0,24.0,0,0,2.0,0.0,North,NaN,NaN,NaN
4,19961101-16:00,Smoke,11.0,0,0,NaN,47.0,NaN,1011.0,0,0,23.0,0,0,1.2,0.0,North,NaN,NaN,0.0

In [5]:
dataset.shape

(100990, 20)

In [6]:
dataset.keys()

Index(['datetime_utc', ' _conds', ' _dewptm', ' _fog', ' _hail',
       ' _heatindexm', ' _hum', ' _precipm', ' _pressurem', ' _rain', ' _snow',
       ' _tempm', ' _thunder', ' _tornado', ' _vism', ' _wdird', ' _wdire',
       ' _wgustm', ' _windchillm', ' _wspdm'],
      dtype='object')

In [7]:
dataset=dataset.drop([' _fog',' _hail',' _heatindexm',' _precipm',' _snow',' _thunder',' _tornado',' _vism',' _wdird',' _wdire',' _wgustm',' _windchillm',' _wspdm'],axis=1)

In [55]:
dataset.head()

     datetime_utc  _conds   _dewptm   _hum   _pressurem   _rain   _tempm
0  20030101-00:30     Fog       NaN    NaN       1017.0       0      NaN
1  20030101-01:30     Fog       9.0  100.0       1018.0       0      9.0
2  20030101-02:30     Fog       9.0  100.0       1019.0       0      9.0
3  20030101-03:30     Fog       9.0  100.0       1019.0       0      9.0
4  20030101-04:30     Fog      10.0   94.0       1021.0       0     11.0

In [9]:
dataset=dataset[dataset['datetime_utc']>'20021231-23:30']

In [10]:
dataset.shape

(61023, 7)

In [11]:
dataset.index=range(61023)

In [56]:
dataset.head()

     datetime_utc  _conds   _dewptm   _hum   _pressurem   _rain   _tempm
0  20030101-00:30     Fog       NaN    NaN       1017.0       0      NaN
1  20030101-01:30     Fog       9.0  100.0       1018.0       0      9.0
2  20030101-02:30     Fog       9.0  100.0       1019.0       0      9.0
3  20030101-03:30     Fog       9.0  100.0       1019.0       0      9.0
4  20030101-04:30     Fog      10.0   94.0       1021.0       0     11.0

In [12]:
dataset.to_csv('roshni.csv',index=False)

In [13]:
newdata=pd.read_csv('roshni.csv')

In [14]:
newdata

,datetime_utc,_conds,_dewptm,_hum,_pressurem,_rain,_tempm
0,20030101-00:30,Fog,NaN,NaN,1017.0,0,NaN
1,20030101-01:30,Fog,9.0,100.0,1018.0,0,9.0
2,20030101-02:30,Fog,9.0,100.0,1019.0,0,9.0
3,20030101-03:30,Fog,9.0,100.0,1019.0,0,9.0
4,20030101-04:30,Fog,10.0,94.0,1021.0,0,11.0
5,20030101-05:30,Fog,11.0,94.0,1021.0,0,12.0
6,20030101-06:30,Fog,12.0,94.0,1020.0,0,13.0
7,20030101-07:30,Mostly Cloudy,11.0,82.0,1019.0,0,14.0
8,20030101-08:30,Smoke,9.0,67.0,1019.0,0,15.0
9,20030101-09:30,Smoke,11.0,72.0,1019.0,0,16.0
10,20030101-10:30,Smoke,11.0,72.0,1019.0,0,16.0
11,20030101-11:30,Smoke,11.0,72.0,1019.0,0,16.0
12,20030101-12:30,Smoke,11.0,82.0,1019.0,0,14.0
13,20030101-13:30,Shallow Fog,11.0,82.0,1019.0,0,14.0
14,20030101-14:30,Shallow Fog,11.0,88.0,1020.0,0,13.0
15,20030101-15:30,Shallow Fog,11.0,94.0,1020.0,0,12.0
16,20030101-16:30,Fog,11.0,100.0,1020.0,0,11.0
17,20030101-17:30,Fog,10.0,94.0,1019.0,0,11.0
18,20030101-18:30,Fog,10.0,100.0,1019.0,0,10.0
19,20030101-19:30,Fog,8.0,93.0,1019.0,0,9.0
20,20030101-20:30,Fog,8.0,93.0,1019.0,0,9.0
21,20030101-21:30,Fog,8.0,100.0,1018.0,0,8.0
22,20030101-22:30,Fog,7.0,93.0,1018.0,0,8.0
23,20030101-23:30,Fog,8.0,100.0,1018.0,0,8.0
24,20030102-00:30,Fog,9.0,94.0,1018.0,0,10.0
25,20030102-01:30,Fog,8.0,87.0,1019.0,0,10.0
26,20030102-02:30,Fog,8.0,82.0,1021.0,0,11.0
27,20030102-03:30,Fog,10.0,88.0,1022.0,0,12.0
28,20030102-04:30,Fog,9.0,72.0,1022.0,0,14.0
29,20030102-05:30,Fog,11.0,77.0,1023.0,0,15.0
...,...,...,...,...,...,...,...
60993,20170421-09:00,Haze,21.0,24.0,998.0,0,39.0
60994,20170421-12:00,Haze,22.0,28.0,996.0,0,39.0
60995,20170421-15:00,Haze,22.0,38.0,999.0,0,35.0
60996,20170421-18:00,Haze,22.0,41.0,1000.0,0,33.0
60997,20170421-21:00,Haze,21.0,45.0,1000.0,0,32.0
60998,20170422-00:00,Haze,22.0,54.0,1000.0,0,30.0
60999,20170422-03:00,Widespread Dust,21.0,42.0,1003.0,0,32.0
61000,20170422-06:00,Widespread Dust,24.0,44.0,1003.0,0,34.0
61001,20170422-08:00,Unknown,21.0,37.0,1003.0,0,38.0
61002,20170422-09:00,Widespread Dust,22.0,29.0,1000.0,0,38.0
61003,20170422-12:00,Thunderstorm,18.0,30.0,1000.0,0,34.0
61004,20170422-12:30,Light Thunderstorm,18.0,41.0,1001.0,0,33.0
61005,20170422-15:00,Haze,20.0,41.0,1001.0,0,32.0
61006,20170422-18:00,Haze,19.0,44.0,1003.0,0,30.0
61007,20170422-21:00,Haze,19.0,47.0,1002.0,0,28.0
61008,20170423-00:00,Haze,17.0,45.0,1002.0,0,27.0
61009,20170423-03:00,Haze,15.0,30.0,1005.0,0,30.0
61010,20170423-06:00,Haze,14.0,18.0,1004.0,0,36.0
61011,20170423-09:00,Haze,12.0,12.0,1002.0,0,39.0
61012,20170423-12:00,Haze,12.0,12.0,999.0,0,39.0
61013,20170423-15:00,Haze,18.0,32.0,1001.0,0,33.0
61014,20170423-18:00,Haze,19.0,41.0,1002.0,0,30.0
61015,20170423-21:00,Haze,14.0,30.0,1002.0,0,29.0
61016,20170424-00:00,Haze,15.0,40.0,1004.0,0,26.0
61017,20170424-03:00,Haze,16.0,38.0,1006.0,0,28.0
61018,20170424-06:00,Haze,17.0,25.0,1005.0,0,34.0
61019,20170424-09:00,Haze,14.0,16.0,1003.0,0,38.0
61020,20170424-12:00,Haze,12.0,14.0,1002.0,0,36.0
61021,20170424-15:00,Haze,15.0,27.0,1004.0,0,32.0
61022,20170424-18:00,Haze,15.0,30.0,1005.0,0,30.0

In [15]:
newdata.columns

Index(['datetime_utc', ' _conds', ' _dewptm', ' _hum', ' _pressurem', ' _rain',
       ' _tempm'],
      dtype='object')

In [16]:
newdata.isnull().sum()

datetime_utc      0
 _conds          72
 _dewptm        223
 _hum           338
 _pressurem     232
 _rain            0
 _tempm         270
dtype: int64

In [17]:
newdata.dropna(inplace=True)

In [18]:
newdata.isnull().sum()

datetime_utc    0
 _conds         0
 _dewptm        0
 _hum           0
 _pressurem     0
 _rain          0
 _tempm         0
dtype: int64

In [20]:
newdata.shape

(60410, 7)

In [57]:
newdata.head()

    _conds   _dewptm   _hum   _pressurem   _rain   _tempm      date time
1        3       9.0  100.0       1018.0       0      9.0  20030101   01
2        3       9.0  100.0       1019.0       0      9.0  20030101   02
3        3       9.0  100.0       1019.0       0      9.0  20030101   03
4        3      10.0   94.0       1021.0       0     11.0  20030101   04
5        3      11.0   94.0       1021.0       0     12.0  20030101   05

In [22]:
newdata.to_csv('weathernew.csv')

In [24]:
newdata.nunique()

datetime_utc    60410
 _conds            35
 _dewptm           44
 _hum              97
 _pressurem        76
 _rain              2
 _tempm            48
dtype: int64

In [23]:
newdata[' _conds'].unique()

array(['Fog', 'Mostly Cloudy', 'Smoke', 'Shallow Fog', 'Scattered Clouds',
       'Partly Cloudy', 'Mist', 'Clear', 'Unknown', 'Haze',
       'Light Drizzle', 'Rain', 'Heavy Thunderstorms and Rain',
       'Thunderstorms and Rain', 'Light Rain', 'Drizzle',
       'Light Thunderstorms and Rain', 'Heavy Rain', 'Overcast',
       'Volcanic Ash', 'Thunderstorm', 'Widespread Dust',
       'Light Thunderstorm', 'Thunderstorms with Hail', 'Partial Fog',
       'Light Fog', 'Heavy Fog', 'Patches of Fog', 'Blowing Sand',
       'Sandstorm', 'Funnel Cloud', 'Light Hail Showers',
       'Light Sandstorm', 'Light Rain Showers', 'Rain Showers'],
      dtype=object)

In [25]:
from sklearn.preprocessing import LabelEncoder
labelencoder=LabelEncoder()
newdata[' _conds']=labelencoder.fit_transform(newdata[' _conds'])

In [58]:
newdata.head()

    _conds   _dewptm   _hum   _pressurem   _rain   _tempm      date time
1        3       9.0  100.0       1018.0       0      9.0  20030101   01
2        3       9.0  100.0       1019.0       0      9.0  20030101   02
3        3       9.0  100.0       1019.0       0      9.0  20030101   03
4        3      10.0   94.0       1021.0       0     11.0  20030101   04
5        3      11.0   94.0       1021.0       0     12.0  20030101   05

In [27]:
newdata['date']=newdata['datetime_utc'].str.split('-').str.get(0)
newdata['time']=newdata['datetime_utc'].str.split('-').str.get(1)

In [28]:
newdata=newdata.drop(['datetime_utc'],axis=1)

In [29]:
newdata['time']=newdata['time'].str.split(':').str.get(0)

In [31]:
newdata.head()

    _conds   _dewptm   _hum   _pressurem   _rain   _tempm      date time
1        3       9.0  100.0       1018.0       0      9.0  20030101   01
2        3       9.0  100.0       1019.0       0      9.0  20030101   02
3        3       9.0  100.0       1019.0       0      9.0  20030101   03
4        3      10.0   94.0       1021.0       0     11.0  20030101   04
5        3      11.0   94.0       1021.0       0     12.0  20030101   05

In [32]:
newdata[' _conds'].unique()

array([ 3, 18, 28, 27, 26, 21, 17,  1, 32,  5,  9, 23,  8, 30, 12,  2, 16,
        7, 19, 33, 29, 34, 15, 31, 20, 10,  6, 22,  0, 25,  4, 11, 14, 13,
       24], dtype=int64)

In [33]:
newdata[' _conds'].unique().max()

34

In [34]:
newdata[' _conds'].unique().min()

0

In [35]:
X=newdata.iloc[:, [1,2,3,4,5,6,7]].values
y=newdata.iloc[:, 0].values

In [36]:
from sklearn.cross_validation import train_test_split
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2,random_state=10)

C:\Users\Rinkoo\Anaconda3\lib\site-packages\sklearn\cross_validation.py:41: DeprecationWarning: This module was deprecated in version 0.18 in favor of the model_selection module into which all the refactored classes and functions are moved. Also note that the interface of the new CV iterators are different from that of this module. This module will be removed in 0.20.
  "This module will be removed in 0.20.", DeprecationWarning)

In [37]:
X_train.shape

(48328, 7)

In [38]:
from sklearn.neighbors import KNeighborsClassifier

In [39]:
classifier=KNeighborsClassifier(n_neighbors=5)
classifier.fit(X_train,y_train)

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
           metric_params=None, n_jobs=1, n_neighbors=5, p=2,
           weights='uniform')

In [40]:
y_pred=classifier.predict(X_test)

In [41]:
from sklearn.metrics import accuracy_score
from sklearn.metrics import confusion_matrix

In [42]:
accuracy_score(y_test,y_pred)

0.7584009269988412

In [59]:
from sklearn.ensemble import RandomForestClassifier

In [60]:
rf=RandomForestClassifier()

In [61]:
rf.fit(X_train,y_train)

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
            max_depth=None, max_features='auto', max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, n_estimators=10, n_jobs=1,
            oob_score=False, random_state=None, verbose=0,
            warm_start=False)

In [62]:
y_pred1=rf.predict(X_test)

In [63]:
accuracy_score(y_test,y_pred1)

0.7747061744744248

In [64]:
s1=labelencoder.inverse_transform(y_pred1)

C:\Users\Rinkoo\Anaconda3\lib\site-packages\sklearn\preprocessing\label.py:151: DeprecationWarning: The truth value of an empty array is ambiguous. Returning False, but in future this will result in an error. Use `array.size > 0` to check that an array is not empty.
  if diff:

In [43]:
s=labelencoder.inverse_transform(y_pred)

C:\Users\Rinkoo\Anaconda3\lib\site-packages\sklearn\preprocessing\label.py:151: DeprecationWarning: The truth value of an empty array is ambiguous. Returning False, but in future this will result in an error. Use `array.size > 0` to check that an array is not empty.
  if diff:

In [65]:
s1

array(['Mist', 'Fog', 'Mist', ..., 'Haze', 'Haze', 'Mist'], dtype=object)

In [53]:
s

array(['Mist', 'Fog', 'Mist', ..., 'Haze', 'Haze', 'Mist'], dtype=object)

In [54]:
confusion_matrix(y_test,y_pred)

array([[ 19,   0,   0, ...,   0,   0,  15],
       [  0, 193,   0, ...,   0,   1,  14],
       [  0,   0,   0, ...,   0,   0,   0],
       ...,
       [  0,   0,   0, ...,   0,   0,   0],
       [  0,   7,   0, ...,   0,  14,   3],
       [  3,   9,   0, ...,   0,   4, 340]], dtype=int64)

In [67]:
p=np.array([10,300,389,3,34,2007103,8])
p=p.reshape(1,-1)
r=classifier.predict(p)
q=labelencoder.inverse_transform(r)
q

C:\Users\Rinkoo\Anaconda3\lib\site-packages\sklearn\preprocessing\label.py:151: DeprecationWarning: The truth value of an empty array is ambiguous. Returning False, but in future this will result in an error. Use `array.size > 0` to check that an array is not empty.
  if diff:

array(['Fog'], dtype=object)

In [66]:
p=np.array([10,300,389,3,34,2007103,8])
p=p.reshape(1,-1)
r=rf.predict(p)
q=labelencoder.inverse_transform(r)
q

C:\Users\Rinkoo\Anaconda3\lib\site-packages\sklearn\preprocessing\label.py:151: DeprecationWarning: The truth value of an empty array is ambiguous. Returning False, but in future this will result in an error. Use `array.size > 0` to check that an array is not empty.
  if diff:

array(['Light Rain'], dtype=object)

In [74]:
k=rf.predict(X_test[10].reshape(1,-1))

In [75]:
labelencoder.inverse_transform(k)

C:\Users\Rinkoo\Anaconda3\lib\site-packages\sklearn\preprocessing\label.py:151: DeprecationWarning: The truth value of an empty array is ambiguous. Returning False, but in future this will result in an error. Use `array.size > 0` to check that an array is not empty.
  if diff:

array(['Haze'], dtype=object)

In [76]:
k=classifier.predict(X_test[10].reshape(1,-1))

In [77]:
labelencoder.inverse_transform(k)

C:\Users\Rinkoo\Anaconda3\lib\site-packages\sklearn\preprocessing\label.py:151: DeprecationWarning: The truth value of an empty array is ambiguous. Returning False, but in future this will result in an error. Use `array.size > 0` to check that an array is not empty.
  if diff:

array(['Haze'], dtype=object)